server:
  port: 8084

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/lokesh8789/microservice-config-server
          clone-on-start: true