server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/userservice
    username: root
    password: beast
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  application:
    name: user-service

  config:
    import: configserver:http://localhost:8084

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-38884440.okta.com/oauth2/default
      client:
        registration:
          my-client:
            provider: okta
            authorization-grant-type: client_credentials
            scope: internal
            client-id: 0oaahfqpliPS17EDr5d7
            client-secret: Qc7GWazRptS3HRWKV5v-8uWzqEp1-3CwRSs5S2vvzDlCz6h3cE5-kbTFguXk6o_E

        provider:
          okta:
            issuer-uri: https://dev-38884440.okta.com/oauth2/default

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health

  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    instances:
      ratingHotelBreaker:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 6s
        permittedNumberOfCallsInHalfOpenState: 3
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED

  retry:
    instances:
      ratingHotelService:
        max-attempts: 3
        wait-duration: 5s

  ratelimiter:
    instances:
      userRateLimiter:
        limit-refresh-period: 4s
        limit-for-period: 2
        timeout-duration: 2s

okta:
  oauth2:
    issuer: https://dev-38884440.okta.com/oauth2/default
    audience: api://default
