server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hotelservice
    username: root
    password: beast
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  application:
    name: hotel-service
  config:
    import: configserver:http://localhost:8084

#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka

okta:
  oauth2:
    issuer: https://dev-38884440.okta.com/oauth2/default
    audience: api://default